
.links line {
    stroke: #999;
    stroke-opacity: 0.6;
  }
  
  .nodes circle {
    stroke: black	;
    stroke-width: 0px;
  }
  
  .svg-container {
      /* margin: 0;
      overflow: hidden;
      display: inline-block;
      position: relative;
      width: 100%;
      vertical-align: top;
      overflow: hidden; */
      
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    
    margin: 0;
    overflow: hidden;
  }
  
  .svg-content {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
  }