body {
  /* hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hide scrollbar for chrome, safari and opera */
body::-webkit-scrollbar {
  display: none;
}

.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  cursor: grab;
  fill: #ccc;
  stroke: #000;
  stroke-width: 1.5px;
}

.node.fixed {
  fill: #f00;
}

.react-transform-wrapper {
  cursor: move;
}

.no-translate {
  transform: none !important;
}
